.header {
    width: 100vw;
    min-height: 5.6rem;
    background-color: var(--header__background-color);
}
.header__nav {
    padding: 0 15px;
    width: 100%;
}
.header__ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 100%;
    height: 5.6rem;
}
.header__ul
.header__container--menu {
    justify-content: flex-start;
    width: 60%;
}
.header__ul
div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;   
    align-items: center;
    width: 40%;
    max-width: 130px;
    height: 100%;
}
.header__ul
li {
    color: var(--header__text-color);
    font-size: 2rem;
}
.header__ul
img {
    width: 24px;
    cursor: pointer;
}
#header__menu--icon {
    margin-right: 15px;
}