.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    top: 0;
    width: 85%;
    max-width: 320px;
    height: 100vh;
    background-color: #fff;
    box-shadow: 300px 0px 0px 1000px rgba(0,0,0,.5);
    z-index: 300;
}
.sidebar__ul {
    width: 100%;
    height: 100%;
    list-style: none;
}
.sidebar__ul
div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-bottom: 1px solid var(--sidebar__border-color);
}
.sidebar__ul
li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 15px;
    width: 100%;
    height: 100%;
    color: var(--header__text-color);
    font-size: var(--mobile__font-size);
    cursor: pointer;
}
.sidebar__ul
a {
    color: var(--header__text-color);
    font-size: var(--mobile__font-size);
    text-decoration: none;
}
.sidebar__ul
a:hover {
    text-decoration: underline;
}
.sidebar__ul
li:hover {
    background-color: var(--sidebar__li-hover);
}
.sidebar__container-account {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 15px;
    border-bottom: 1px solid var(--sidebar__border-color);
}
.sidebar__container-account
li {
    padding: 0;
}
.sidebar__container-account
#sidebar__img--profile-picture {
    width: 50px;
    height: 50px;
}
.sidebar__container-account
#sidebar__li--email {
    margin-top: 10px;
    margin-left: 5px;
    color: var(--header__text-color);
    font-size: var(--mobile__font-size);
}
.sidebar__container-links {
    padding: 15px 0;
}
.sidebar__container-links
li {
    padding: 10px 15px;
}
.sidebar__container-links
li:hover {
    background-color: transparent;
}
#sidebar__li--storage {
    height: auto;
}
#sidebar__li--storage:hover {
    background-color: transparent;
}
#sidebar__li--storage
a:hover {
    text-decoration: none;
}
.sidebar__conatiner-google-drive-download {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: var(--sidebar__li-hover);
}
.sidebar__conatiner-google-drive-download
li {
    color: #4285f4;
}